* {
  padding: 0;
  margin: 0;
}


.app {
  text-align: center;
  margin-top: 100px;
}

.container {
  margin-top: 220px;
  margin-left: 550px;
  width: 800px;
  height: 500px;
  background: rgba(195, 163, 255, 0.664);
  border: black 3px solid;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-div{
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bottom-div{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.left-div{
  height: 100%;
  width: 30%;
  margin: 10px;
  background: #1bb172;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 20px;
}

.right-div{
  height: 100%;
  width: 70%;
  margin: 10px;
  background: #1bb172;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 20px;
}

ul .div{
  width: 90%;
  height: 30px;
}

.red{
  background: red;
}
.blue{
  background: blue;
}
.green{
  background: green;
}